In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv("Absenteeism_data.csv")

In [4]:
df = raw_csv_data.copy()

In [6]:
df = df.drop(["ID"], axis = 1)

In [8]:
len(df["Reason for Absence"].unique())

28

In [7]:
sorted(df["Reason for Absence"].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [10]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

In [11]:
df = df.drop(["Reason for Absence"], axis = 1)

In [12]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, :22].max(axis=1)

In [13]:
df = pd.concat([df,reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis=1)

In [14]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [15]:
columns = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [16]:
df.columns = columns

In [17]:
reordered_columns = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 
                     'Date', 'Transportation Expense', 'Distance to Work', 'Age',
                     'Daily Work Load Average', 'Body Mass Index', 'Education',
                     'Children', 'Pets', 'Absenteeism Time in Hours']

In [18]:
df = df[reordered_columns]

In [19]:
df_reason_mod = df.copy()

In [20]:
df_reason_mod["Date"] = pd.to_datetime(df_reason_mod["Date"], format = "%d/%m/%Y")

In [31]:
list_months = []

In [32]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod["Date"][i].month)

In [33]:
df_reason_mod["Month Value"] = list_months

In [34]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [35]:
df_reason_mod["Day of the Week"] = df_reason_mod["Date"].apply(date_to_weekday)

In [37]:
df_reason_mod.columns

Index(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours', 'Month Value', 'Day of the Week'],
      dtype='object')

In [39]:
reordered_columns = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Month Value', 'Day of the Week', 
                     'Date', 'Transportation Expense', 'Distance to Work', 'Age',
                     'Daily Work Load Average', 'Body Mass Index', 'Education',
                     'Children', 'Pets', 'Absenteeism Time in Hours']

In [40]:
df_reason_mod = df_reason_mod[reordered_columns]

In [43]:
df_reason_mod = df_reason_mod.drop(["Date"], axis = 1)

KeyError: "['Date'] not found in axis"

In [44]:
df_date_mod = df_reason_mod.copy()

In [45]:
df_date_mod["Education"] = df_date_mod["Education"].map({1:0, 2:1, 3:1, 4:1})

In [46]:
df_preprocessed = df_date_mod.copy()
df_preprocessed

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,0,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,0,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,1,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,0,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,1,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,1,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,1,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,0,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,0,5,3,291,31,40,237.656,25,0,1,1,2

In [47]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index=False)